name: Release
on:
  push:
    branches:
      - main
    tags:
      - "v*"
    paths-ignore:
      - ".plugin-manifests/**"
      - "*.md"
      - "LICENSE"
  workflow_dispatch:

# Construct a concurrency group to be shared across workflow runs.
# The default behavior ensures that only one is running at a time, with
# all others queuing and thus not interrupting runs that are in-flight.
concurrency: ${{ github.workflow }}

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.73

jobs:
  build:
    name: Build plugin
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              os: "ubuntu-20.04",
              arch: "amd64",
              wasiSDK: "linux",
              extension: "",
              buildArgs: "--features openssl/vendored",
              target: "",
              targetDir: "target/release",
            }
          - {
            os: "ubuntu-20.04",
            arch: "aarch64",
            wasiSDK: "linux",
            extension: "",
            buildArgs: "--features openssl/vendored --target aarch64-unknown-linux-gnu",
            target: "aarch64-unknown-linux-gnu",
            targetDir: "target/aarch64-unknown-linux-gnu/release",
          }
          - {
              os: "macos-latest",
              arch: "amd64",
              wasiSDK: "macos",
              extension: "",
              buildArgs: "",
              target: "",
              targetDir: "target/release",
            }
          - {
              os: "macos-latest",
              arch: "aarch64",
              wasiSDK: "macos",
              extension: "",
              buildArgs: "--target aarch64-apple-darwin",
              target: "aarch64-apple-darwin",
              targetDir: "target/aarch64-apple-darwin/release/",
            }
          - {
              os: "windows-latest",
              arch: "amd64",
              wasiSDK: "",
              extension: ".exe",
              buildArgs: "",
              target: "",
              targetDir: "target/release",
            }
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        shell: bash
        run: |
          rustup toolchain install ${{ env.RUST_VERSION }}
          rustup default ${{ env.RUST_VERSION }}

      - name: Install target
        if: matrix.config.target != ''
        shell: bash
        run: rustup target add --toolchain ${{ env.RUST_VERSION }} ${{ matrix.config.target }}

      - name: "Install Wasm Rust target"
        run: rustup target add wasm32-wasi --toolchain ${{ env.RUST_VERSION }} && rustup target add wasm32-unknown-unknown --toolchain ${{ env.RUST_VERSION }}

      - name: Install cargo-component
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-component

      - name: set the release version (main)
        shell: bash
        run: echo "RELEASE_VERSION=canary" >> $GITHUB_ENV

      - name: set the release version (tag)
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: lowercase the runner OS name
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          echo "RUNNER_OS=$OS" >> $GITHUB_ENV

      - name: setup for cross-compiled linux aarch64 build
        if: matrix.config.target == 'aarch64-unknown-linux-gnu'
        run: |
          sudo apt update
          sudo apt install gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
          echo '[target.aarch64-unknown-linux-gnu]' >> ${HOME}/.cargo/config.toml
          echo 'linker = "aarch64-linux-gnu-gcc"' >> ${HOME}/.cargo/config.toml
          echo 'rustflags = ["-Ctarget-feature=+fp16"]' >> ${HOME}/.cargo/config.toml

      - name: build release
        shell: bash
        run: cargo build --release ${{ matrix.config.buildArgs }}

      - name: Package as plugins tar
        shell: bash
        run: |
          mkdir -v _dist
          cp ${{ matrix.config.targetDir }}/spin-test${{ matrix.config.extension }} _dist/spin-test${{ matrix.config.extension }}
          cp  LICENSE _dist/spin-test.license
          cd _dist
          tar czf spin-test-${{ env.RELEASE_VERSION }}-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}.tar.gz spin-test.license spin-test${{ matrix.config.extension }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
            name: spin-test-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}
            path: _dist/spin-test-${{ env.RELEASE_VERSION }}-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}.tar.gz

      - name: upload binary to Github release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: _dist/spin-test-${{ env.RELEASE_VERSION }}-${{ env.RUNNER_OS }}-${{ matrix.config.arch }}.tar.gz
          tag: ${{ github.ref }}

  checksums_and_manifests:
    name: generate checksums and manifest
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: set the release version (main)
        shell: bash
        run: echo "RELEASE_VERSION=canary" >> $GITHUB_ENV

      - name: set the release version (tag)
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: download release assets
        uses: actions/download-artifact@v4
        with:
          pattern: spin-test-*
          merge-multiple: true

      - name: generate checksums
        run: |
          ls -lh
          sha256sum spin-test*.tar.gz > checksums-${{ env.RELEASE_VERSION }}.txt

      - uses: actions/upload-artifact@v4
        with:
          name: spin-test-checksums
          path: checksums-${{ env.RELEASE_VERSION }}.txt

      - name: upload checksums to Github release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: checksums-${{ env.RELEASE_VERSION }}.txt
          tag: ${{ github.ref }}

      - name: create plugin manifest
        shell: bash
        env:
          REPO_OWNER: ${{ github.repository_owner }}
        run: bash .plugin-manifests/generate-manifest.sh ${{ env.RELEASE_VERSION }} checksums-${{ env.RELEASE_VERSION }}.txt > spin-test.json

      - uses: actions/upload-artifact@v4
        with:
          name: spin-test-plugin-manifest
          path: spin-test.json

      - name: upload plugin manifest to release
        uses: svenstaro/upload-release-action@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: spin-test.json
          tag: ${{ github.ref }}

  reset_canary_release:
    name: Delete and create Canary Release
    runs-on: ubuntu-latest
    needs: checksums_and_manifests
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - name: download release assets
        uses: actions/download-artifact@v4
        with:
          pattern: spin-test-*
          merge-multiple: true

      - name: 'Check if canary tag exists'
        id: canaryExists
        shell: bash
        run: |
          git fetch --prune --unshallow --tags
          git show-ref --tags --verify --quiet -- "refs/tags/canary" && \
          echo "canaryExists=0" >> "$GITHUB_OUTPUT" || \
          echo "canaryExists=1" >> "$GITHUB_OUTPUT"

      - name: Delete canary tag
        if: steps.canaryExists.outputs.canaryExists == 0
        uses: dev-drprasad/delete-tag-and-release@v0.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: canary
          delete_release: true

      - name: Recreate canary tag and release
        uses: ncipollo/release-action@v1.14.0
        with:
          tag: canary
          allowUpdates: true
          prerelease: true
          artifacts: "spin-test*.tar.gz,spin-test.json,checksums-canary.txt"
          commit: ${{ github.sha }}
          body: |
            This is a "canary" release of the most recent commits on our main branch. Canary is **not stable**.
            It is only intended for developers wishing to try out the latest features in the spin-test plugin, some of which may not be fully implemented.
